.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiSelect-select{
  border: 2px solid white!important;
}


.scroller_view::-webkit-scrollbar {
  width: 5px;
}

.scroller_view::-webkit-scrollbar-track {
  background-color: #e6e6e621;
}

.scroller_view::-webkit-scrollbar-thumb {
  background-color: #ffffff48;
  border-radius: 3px;
}

.scroller_view::-webkit-scrollbar-button:end:decrement {
  height: 18px;
  display: block;
  background: transparent;
}
.scroller_view::-webkit-scrollbar-button:start:increment {
  height: 18px;
  display: block;
  background: transparent;
} 